/* Soluzione esercizio 1  */

.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}

/* Soluzione esercizio 2 */

.ex-2-square{

transition: 5s;

}

.ex-2-square:active{

animation-name: rectangle;  
width: 100%;


}

/* Soluzione Esercizio 3 */

.ex-3-square{

transition: 2s;

}

.ex-3-square:hover{

border-radius: 50px;

}


/* Soluzione esercizio 4 */

.ex-4-square{

    transition: 2s;
    
    }
    
.ex-4-square:hover{
    
opacity: 0; 

}
    

/* Soluzione esercizio 5  */

.ex-5-square{

    transition: 2s;

    }
    

.ex-5-square:hover{

transform: scale(2);

}


.ex-5-square:active{

transform: scale(0.5);

}


/* Soluzione Esercizio 6  */

.ex-6-img:hover{

filter: grayscale(1);

}

/* Soluzione Esercizio 7  */

.ex-7-img{

transition: 3s;

}

.ex-7-img:hover{

filter: grayscale(0.8); 
filter: sepia(0.7);

}


/* Soluzione Esercizio 8  */

.ex-8-img{

transition: 3s;
    
}

.ex-8-img:hover{


filter: grayscale(0.8); 
filter: sepia(0.7);
border-radius: 20px;

}



/* Soluzione Esercizio 9  */

.ex-9-img{

transition: 3s;
        
}
    
.ex-9-img:hover{
    
    
filter: grayscale(0.8); 
filter: sepia(0.7);
border-radius: 20px;
transform: scale(1.5);
    
}

/* Soluzione Esercizio 10  */

.ex-10-icon{

animation-name: Rotation;
animation-iteration-count: infinite;
animation-timing-function: linear; 
animation-duration: 1s;

        
}
    
    
@keyframes Rotation{
    
/* 0%{
   
transform: rotate(1turn); 

} */


0%{

transform: rotate(0deg);



}

25%{

transform: rotate(-90deg);

}


50%{

transform: rotate(-180deg);

}


75%{

transform: rotate(-270deg);


}

100%{

 transform: rotate(-360deg);   



}

}


/* Soluzione Esercizio 11  */


.ex-11-icon:hover{

animation-name: Rotation-11;
animation-iteration-count: infinite;
animation-timing-function: linear; 
animation-duration: 3s;

}

@keyframes Rotation-11{
    

    0%{
    
    transform: rotate(0deg);
    
    }
    
    25%{
    
    transform: rotate(90deg);    

    }
    
    
    50%{
    
    transform: rotate(180deg);

    }
    
    
    75%{
    
    transform: rotate(270deg);

    }
    
    100%{
    
     transform: rotate(270deg,-270deg);  

    }

}



/* Soluzione Esercizio 12  */

.ex-12-button:hover .ex-12-bottom-white{

animation-name: translation-bot;
animation-timing-function: linear; 
animation-duration: 3s;

}

.ex-12-button:hover .ex-12-top-white{

animation-name: translation-top;
animation-timing-function: linear; 
animation-duration: 3s;
    
}




@keyframes translation-bot{

    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

@keyframes translation-top{

    0% {
        left: 20%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 20%;
    }
}


/* Soluzione Esercizio 13  */

.ex-13-button:hover .ex-13-bottom-white{

    animation-name: rotation-bot;
    animation-timing-function: linear; 
    animation-duration: 3s;
    
    }
    
    .ex-13-button:hover .ex-13-top-white{
    
    animation-name: rotation-top;
    animation-timing-function: linear; 
    animation-duration: 3s;
   
        
    }
    
    
    
    
    @keyframes rotation-bot{
        0% {
            bottom: -10px;
            right: 20%;
        }
        20% {
            right: calc(100% - 30px);
            bottom: -10px;
        }
        40% {
            right: calc(100% - 30px);
            bottom: 100%;
        }
        60% {
            right: 0;
            bottom: 100%;
        }
        80% {
            right: -30px;
            bottom: -10px;
        }
        100% {
            bottom: -10px;
            right: 20%;
        }
    }
    
    @keyframes rotation-top{
    
        0% {
            left: 10%;
            top: -10px;
        }
        20% {
            left: calc(100% - 30px);
            top: -10px;
        }
        40% {
            left: calc(100% - 30px);
            top: 100%;
        }
        60% {
            left: 0;
            top: 100%;
        }
        80% {
            left: -30px;
            top: -10px;
        }
        100% {
            left: 10%;
            top: -10px;
        }
    }